body{
  margin:0;
  padding:0px;
  background:#333333e3;
}
.portfolio-header{
  display:flex;
  justify-content:space-between;
  background:#722872;
  height:90px; 
  overflow:hidden;
  border-bottom:1px solid #603d7b ;
  box-shadow:10px 10px 15px grey;
}
.logo{
  width:70px;
  padding-left:70px;
}
.header-button{
  padding-right:90px;
  padding-top: 20px;
}
.menu-button{
  background:transparent;
  color:#888888;
  border:hidden;
  font-size:15px;
  margin-top:15px;
  margin-right:15px;
  font-family:arial;
  cursor:pointer;
}
.menu-button:hover{
  color:white;
}
.about-button{
  background:transparent;
  color:#888888;
  border:hidden;
  font-size:15px;
  margin-top:15px;
  margin-right:15px;
  font-family:arial;
  cursor:pointer;
}
.about-button:hover{
  color:white;}

.introduction-portfolio{
  background:#888;
  padding:10px;
  color:white;
}
.introduction{
  display:flex;
  flex-direction:row-reverse;
  padding:20px;
  
  position:relative;
  bottom:30px;
  align-items:center;
  justify-content:space-between;
}
.introduction-title{
  padding:10px;
  font-size:30px; 
}
span{
  color:#722872;
}
.introduction-paragraphe{
  font-size:20px;
  margin-top:0px;
  align-items: left;
  
  width:600px;
  text-align:right;
}
img{
  width:150px;
}
a{
  color:#722872;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
.introduction-portfolio img{
  margin-bottom:10px;
}
.portfolio{
  background:#eeeeee;
  padding:10px;
  /*margin-left:20px;
  margin-right:20px;
  padding:10px;
  margin:0px 100px;*/
  
}
.header-section{
  display:flex;
  align-items:center;
}
.header-section-title{
  color:#888;
}
.paragraphe{
  font-family:sans-serif;
  color:grey;
  padding:15px;
  font-size:20px;
  margin-left: 20px;
  margin-right: 20px;
}
.projects-images{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  margin-left:100px;
}
.image{
  margin:10px 10px;
  width:200px
}
.information-personnelles{
  background:#eeeeee;
  padding:10px;
  /*margin-left:20px;
  margin-right:20px;
  padding:10px;
  margin:0px 100px;*/
}
.contact{
  display:flex;
}
.form input{
 /* width: 300px; 
  height: 50px;*/
  background:white;
  border:none;
  margin-bottom:25px;
  padding:5px;
  width: 500px; 
  height: 50px;
}
#message-input{
  width: 500px; 
  height: 100px;
}
.contact-paragraphe{
  font-family:sans-serif;
  margin-left:40px;
  font-size:20px;
}
.send-button{
  /*background:grey;*/
  width:100px;
  height:30px;
  border-radius:5px;
  margin-left:10px;
}
.image-profil{
  border-radius:100%;
  border: 2px solid white;
  position:relative;
  bottom:20px;
}
.portfolio-footer{
  padding:10px;
  background:#888;
  padding-left:20px;
  padding-right:20px;
  display:flex;
  color:white;
  justify-content:space-around;
  align-items:center;
  border-top: 3px solid white;
}
.social-media-button{
  border: 1px solid white;
  border-radius:100%;
  width:30px;
  padding-left:25px;
  padding:15px;
  font-size:20px;
  align-items:center;
  color:white;
  padding-left:10px;
}
.select-menu{
  display:none;
}
.ligne{
  position:relative;
  left:70px;
}
main{
  margin:0px 100px;
}
.dropdown-menu{
  display:none;
}
.cloture{
  margin-top:80px;
}

 

@media screen and (max-width:1000px){
  
  main{
    margin:0;
  }
  .introduction{
    display:flex;
    flex-direction:column;
  }
  .paragraph-container{
    display:flex;
    flex-direction: column-reverse;
    width:600px;
  }
  .introduction-title{
    text-align: center;
    margin-top:40px;
  }
  .introduction-paragraphe{
    text-align: center;
  }
  .ligne{
    margin-left:0;
  }
  .header-section{
    display:flex;
    flex-direction: column;
  }
  .projects-images{
    display: flex;
    flex-direction:column;
  }
  .projects-images-items{
    display: flex;
    flex-direction: column;
  }
  .image{
    width:600px;
    margin-right:15%;
  }
  .contact{
    display: flex;
    flex-direction:column;
  }
  .form input{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    margin-right: 20px;
    margin-left: 20px;
    width:600px;
  }
  #message-input{
    width:600px;
  }
  .form{
    margin:20px 15%;
  }
  .contact-paragraphe{
    padding-top:5px 15%;
  }
  .portfolio-footer{
    display:flex;
    flex-direction:column-reverse;
  }
  
  .header-button{
    display:none;
  }
  
  .dropdown-menu{
    display:block;
    background:#722872;
    display:flex;
  }
  
  .dropdown-menu ul{
    list-style-type:none;
    display:flex;
    background:#722872;
  }
  .dropdown-menu a{
    text-decoration:none;
    padding:10px;
    display:block;
    color:#888888;
    font-size:15px;
    margin-top:15px;
    margin-right:15px;
    font-family:arial;
    cursor:pointer;
    text-align: center;
  }
  #menu{
    display:none;
  }
  .dropdown-menu label{
    display:block;
    cursor:pointer;
    background:url(img/closed.png) no-repeat left center;
    padding:30px 0 30px 80px;
  }
  .menu-container{
    max-height: 0;
    overflow: hidden;
  }
  input:checked ~ label{
    background:url(img/open.png) no-repeat left center;
  }

  input:checked ~ .menu-container{
    max-height:1000px;
    transition: all ease 2s;
  }
  .logo{
  width:50px;
  height:50px;
  padding-top:25px;
  padding-bottom:30px;
}
}

